NODE_ENV=development
PORT=3000
APP_NAME=delivery-management-api
API_PREFIX=api
DATABASE_URL="mysql://root:root@localhost:3306/delivery_management_system"
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
GOOGLE_CLIENT_ID=your-google-client-id
ALLOWED_GOOGLE_DOMAINS=garena.vn
SUPER_ADMIN_EMAILS=dinhphuc.luu@garena.vn
